               <div id=results> 
					<h2 class="results">My blog</h2>
					<div class="no-msg">Sorry, I'm too lazy to post.</div>
					<ul class="items" id="double">
					<li class="item">
					<div class="recipe-sh" style="width: 350px;">
						<div style="height:50px; display:block; overflow:none;">
						<h3>
							<a href="http://cgrand.net/">A title</a>
						</h3>
						</div>
						</div>
						<img height="150" width="150"/>
						<p  
						style="width:330px; height:110px; display:block; overflow:none;"/>
					</div>
					</li>
					</ul>
				</div>