
					
					
	<div id="recipe">	
				
    
    
					
					
					<div class="no-msg">No recipe.</div>
					
						<h2 class="title">A title</h2>
						<img class="recipeimg"/>
						<input type="hidden" id="recipeId" >
						<p class="description"/>
						

<p class="recipeYield"><b>Serves: </b></p>
						<div class="ingredients">
						<p><b>Ingredients:</b></p>
							<ul class="ingredients">
								<li class="ingredient"/>
							</ul>
						</div>
						<p><b>Method:</b></p>
						<p class="instructions"/>
	<p  style='margin-left:5px !important;'><b>Average rating: </b>
	        <span class="arating"></span>
	</p>
	<p style='margin-left:5px !important;'><b>Your rating:</b></p>					
	<ul class='star-rating'>
	<li class='current-rating' id='current-rating' style="width: 0px"></li>
	<li><a href="#"  
           title='1 star out of 5' class='one-star'>1</a></li>
	<li><a href="#"  
           title='2 star out of 5' class='two-stars'>2</a></li>
	<li><a href="#"
           title='3 star out of 5' class='three-stars'>3</a></li>
	<li><a href="#" 
           title='4 star out of 5' class='four-stars'>4</a></li>
	<li><a href="#" 
           title='5 star out of 5' class='five-stars'>5</a></li>
</ul>
<div id='current-rating-result' style='margin-left:5px !important;'></div> <!-- used to show "success" message after vote -->
						 
					</div>
				
			
		
		
		
	