<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>An Enlive example</title>
</head>
<body>
<h1>Register</h1>
<form id='register'  method='post'
    accept-charset='UTF-8'>


<input type='hidden' name='submitted' id='submitted' value='1'/>
<table>
<tr>
<td>
<label for='name' >Your Full Name*: </label>
</td>
<td>
<input type='text' name='name' id='name' maxlength="50" />
</td>
</tr>
<tr>
<td>
<label for='email' >Email Address*:</label>
</td>
<td>
<input type='text' name='email' id='email' maxlength="50" />
</td>
 </tr>
<tr>
<td>
<label for='username' >UserName*:</label>
</td>
<td>
<input type='text' name='username' id='username' maxlength="50" />
</td>
 </tr>
<tr>
<td>
<label for='password' >Password*:</label>
</td>
<td>
<input type='password' name='password' id='password' maxlength="50" />
</td>
</tr>
<tr>
<td>
</td>
<td>
<div align="right">
<input type='submit' name='Submit' value='Submit' />
</div>
</td>
 </tr>
 </table>

</form>

</body>
</html>