#top {
    position: relative;
    background-color: #B0D27D;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border: 3px solid black; 
}

#bottom {

    position: relative;
    background-color: #B0D27D;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    min-height:50px;
     height:auto !important;
     height:50px;
     border: 3px solid black; 
}

#left {
    float: left;
    background-color: white;
    padding: 5px;
    width: 180px;
}

#right {
    float: right;
    background-color: white;
    padding: 5px;
    width: 180px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 200px 0px 200px;
    min-height:550px;
     height:auto !important;
     height:550px; 
     border-left: 2px solid black;
     border-right: 2px solid black;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#center_div {
   border-style:solid;
}

